<div class="card flex justify-center p-10">
  @if (images() && images().length > 0) {
    <div class="grid grid-cols-12 gap-4" style="max-width: 100%">
      @for (image of images(); track $index) {
        <div class="col-span-4" key="$index">
          <img [src]="image"  style="cursor: pointer" (click)="imageClick($index)" />
        </div>
      }
    </div>
  }

  <p-galleria
    [value]="images()"
    [visible]="displayCustom"
    [activeIndex]="activeIndex"
    [containerStyle]="{ 'max-width': '850px' }"
    [numVisible]="7"
    [circular]="true"
    [fullScreen]="true"
    [showItemNavigators]="true"
    [showThumbnails]="false"
    (visibleChange)="changeDispCustom($event)"
  >
    <ng-template #item let-item>
      <img [src]="item" style="width: 100%; display: block" />
    </ng-template>
  </p-galleria>
</div>
