html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #8e8e93;
  box-sizing: border-box;
}

app-root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
